.linkqcc{
    display: block;
    padding: 15px 50px;
    background-color: brown;
    width: 80px;
    margin: 20px 0px;
    color: aliceblue;
}
.colorcontainer{
    width: 300px;
    height: 300px;
    margin: 50px;
    border: solid 2px black;
    padding: 30px;
}

