.linkqcc{
    display: block;
    padding: 15px 50px;
    background-color: brown;
    width: 80px;
    margin: 20px 0px;
    color: aliceblue;
}
.colorcontainer{
    width: 300px;
    height: 300px;
    margin: 50px;
    border: solid 2px black;
    padding: 30px;
}
/*---------------------------------
Tuesday, June 18
Event object in key event
========================================*/
.btnpressme{
    width: 100px;
    background-color:black;
    color: aliceblue;
    border-radius: 12px;
}
.btnpressme:hover{
    cursor: pointer;
    color: red;
    font-size: 15px;
    /*content: "Just Hover";*/
}
.btnactive{
    background-color: whitesmoke;
    color: red;
    font-size: 15px;
}
/* remove an item from a list */
#listfruits li{
    padding: 12px 30px;
    width: 200px;
    border: lightblue 1px solid;
    list-style: none;
}
#listfruits li:hover{
    background-color: crimson;
    cursor: pointer;
}
/*scroll event*/
#content{
    background-color: aqua;
    width: 1000px;
    padding: 20px;
}
/* slice photo gallery */
.maincontainer, .gallerycontainer{
    width: 1000px;
    margin:auto;
}
.maincontainer{
    position: relative;
    z-index: 0;
    margin: 30px auto;
}
.gallerycontainer{
    position:absolute;
    z-index: 1;
    overflow-x: scroll;
    white-space: nowrap;
}
.galleryimage{
    display: inline-block;
    width: 500px;
}
.btnleft, .btnright{
    position:absolute;
    z-index: 2;
    background-color: rgba(0,0,0,0,);
    color: magenta;
    border: none;
    font-size: 50px;
    opacity: 0.6;
    top: 180px;
}
.buttonleft:hover, .buttonright:hover{
    opacity: 1;
}
.btnright{
    right: 20px;
}
.btnleft{
    left: 20px;
}

/* to top */
html{scroll-behavior: smooth;}
.gotop{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position:fixed;
    bottom: 20px;
    right: 20px;
    font-size: 50px;
    text-align: center;
    background-color: rgba(230,230,230,0.8);
    transition: ease-in-out 200ms;
    display: none;
}
.gotop a{
    text-decoration: none;
    color: black;
}
.goto:hover{
    background-color: rgba(200,200,200,0.8);
    box-shadow: 0px 0px 5px 2px;
}