html{scroll-behavior: smooth;}
.header{
    display: flex;
}
.headerlink{
    width: 20%;
    display: block;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    transition: ease-in-out 250ms;
}
.headerlink:hover{
    opacity: 0.6;
    transform: translateX(-20px) scale(1.2)
}
.headertitle{
    width: 79%;
    color:rgb(18, 18, 107);
    text-align: center;
}
/*=====================SITELINKS=======================*/ 
.sitelinks{
    background-color: (34, 34, 194);
    display: flex;
    justify-content: center;
}
.navlink{
    display: inline-block;
    background-color: orange;
    text-align: center;
    padding: 1em 2em;
    width: 33.3%;
    color:bisque;
}
.navlink:hover{
    background-color: lightgreen;
    border: dashed 1px yellow;
    border-radius: 12px;
    color:rgb(209, 91, 91);
}
/*========MAINBODY======*/
.mainbody{
    border: solid 1px purple;
    display: flex;
    flex-wrap: wrap;
}
.main_div{
    width: 67%;
    border: solid 1px red;
}
.pagelinks{
    border: blue 1px solid;
    width: 30%;
}

.main_div section{
    background-color: gray;
    padding: 1em 2em;
}
.main_div article{
    background-color:azure ;
    padding: 1em 2em;
}
/*=========PAGELINKS==============*/
.pagelinks{
    padding: 1em;
}    
.linknav{
    border-bottom: 1px gray solid;
    display: block;
    padding: 1em;
    text-decoration: none;
    color:rgb(240,80,10)
}
.linknav:hover{
    color: darkmagenta;
    font-weight: 900;
}
/*==========FIGURE===========*/
img{
    width: 100%; 
    display:block;
}

.figureimg{
    width: 70%;
    margin: 2% auto;
    position: relative;
    box-shadow: 5px 10px 3px lightblue;
    border-radius: 6px;
    overflow:hidden;
}
.imgtitle{
    position:absolute;
    top: 10%;
    left: 5%;
    right: 5%;
    text-align: center;
}

/*===========FOOTER==============*/
.contact{
    background-color: rgb(18, 18, 107);
    color:whitesmoke;
    display: flex;
    padding: 30px;
}
.contactcolumn{
    width: 33%
}
.policieslink{
    color: whitesmoke;
    text-decoration: none;
    display: block;
    padding-top: 10px;
}
.followicon{
    width:50px;
    display: inline-block;
    padding-right: 1em;
    opacity: 0.5;
}

.followicon:hover{
        opacity: 1;
}
