/* keep the width of the window to 100%*/
*{box-sizing: border-box;}
.myform fieldset{
    width: 400px;
    margin: 20px auto;
    background-color: aliceblue;
}
.controlblock{
    margin-bottom: 20px;
}

/* items to cart */
img{width: 100%;}
.item1{
    width: 200px;
    height: 450px;
    box-shadow: 1px 1px 3px gray;
    padding: 12px;
    margin: 20px;
}
.item1 img{
    height: 50%;
    width: auto;
    display: block;
    margin:auto;
}
.itemname{
    font-weight: bolder;
    color:rgb(22,22,22);
    font-size: 1.3em;
}
.itemdescription{
    color: darkslategray;
    margin-top: -20px;
}
.saleprice{color: red; font-size: 1.3em;}
.item1btn{
    display: block;
    background-color: darkslategray;
    color: white;
    width: 100%;
    margin-top: 20px;
    padding: 12px;
}

/*  SHOPPING CART */
.bagcontainer{
    width: 90%;
    margin: auto;
    border: solid 1px black;
    display: flex;
    flex-wrap: nowrap;
}
.itemimg{
    width: 30%;
}
.itemdescription{
    width: 30%;
}
.itemprice{
    width: 15%;
}
.itemquantity{
    width: 10%;
}
.totalprice_item{
    width: 15%;
}
